.landingContainer {
	height: 90vh;
	position: relative;
}

/* VIDEO & CONTENT */
.landingHeader {
	display: flex;
	justify-content: center;
}

.landingContent {
	margin: 0 auto;
	/* padding: 215px; */
	/* margin-top: 100px; */
	width: 50%;
	color: white;
	text-align: center;
	line-height: 1.2;
	/* margin: 0; */
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.landingContent > h1 {
	font-size: 40px;
	color: red;
	/* z-index: 10; */
	margin-bottom: 16px;
}

.landingContent > h2 {
	font-family: "Dancing Script", sans-serif;
	font-weight: 400;
	margin-bottom: 16px;
}

.landingContent > h4 {
	margin-bottom: 24px;
	letter-spacing: 2.5px;
}

/* LANDING SECTION */
.landingSection {
	width: 100%;
	height: 100%;
	/* background-color: yellow; */
}

/* BACKGROUND */
#video {
	position: relative;
	z-index: -5;
	width: 100%;
	height: 90vh;
	background: black;
	background-size: cover;
	opacity: 0.85;
}

#heroImg {
	position: relative;
	width: 100%;
	height: 90vh;
	background-image: url(../assets/images/praise1.jpg);
	background-size: cover;
	background-position-y: -100px;
	background-repeat: no-repeat;
	z-index: -20;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.15;
	background-color: #4151e2;
}

/* BUTTONS */
.landingButton {
	display: flex;
	justify-content: space-evenly;
}

.btn--home {
	border: 2px solid white;
	background: red;
	color: white;
	opacity: 0.9;
}

.btn-giving {
	border: 2px solid red;
	opacity: 0.9;
}

/* LANDING SECTION */
.landingSection {
	padding: 50px 20px;
	height: 100%;
}

.benefitsTitle {
	text-align: center;
	font-size: 32px;
	font-weight: lighter;
}

.benefitsCards {
	display: flex;
	justify-content: space-evenly;
	margin: 50px 0px;
}

.landing--card {
	margin: 0 15px;
	text-align: center;
}

.landingSection:last-child {
	text-align: center;
}

/* SVG IMAGES */

.benefitsImg {
	width: 100px;
	height: 100px;
	color: blue;
}

.filter-green {
	filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
		brightness(118%) contrast(119%);
}
.filter-blue {
	filter: invert(99%) sepia(79%) saturate(2476%) hue-rotate(86deg)
		brightness(118%) contrast(119%);
}
.filter-pink {
	filter: invert(90%) sepia(10%) saturate(2476%) hue-rotate(86deg)
		brightness(118%) contrast(119%);
}

/* FOR MOBILE PHONES */
@media only screen and (max-width: 600px) {
	/* BUTTON FROM ROW TO COLUMN */
	.landingButton {
		flex-direction: column;
	}

	.landingButton > .btn--home {
		margin-bottom: 20px;
	}

	/* REDUCE FONT SIZE */
	.landingContainer {
		font-size: 75%;
	}

	/* CARDS FROM ROW TO COLUMN */
	.benefitsCards {
		flex-direction: column;
	}

	#video {
		background-size: auto;
	}

	.landing--card {
		margin-bottom: 40px;
	}

	#heroImg {
		background-position-y: 0px;
	}
}

/* FOR TABLETS */
@media only screen and (min-width: 600px) {
	#heroImg {
		background-position-y: 0px;
	}
}

/* FOR DESKTOP */
@media only screen and (min-width: 768px) {
}
