@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cormorant+Garamond:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cormorant Garamond", sans-serif;
	letter-spacing: 2px;
}
